#copyright{
    text-align: center;
    background-color: #F7F5FF;
    padding: 3.8rem 0;
    color: rgba(34, 24, 107, 0.5);
    font-size: 2.1rem;
    font-family: G-medium;

    a{
        text-decoration: none;
        color: rgba(34, 24, 107, 0.8);
        font-size: 2.1rem;
        font-family: G-semibold;



    }

}