

@font-face {
    font-family: G-regular;
    src: url(../font/Gilroy-Regular.ttf) format("opentype");
}

@font-face {
    font-family: G-medium;
    src: url(../font/Gilroy-Medium.ttf) format("opentype");
}

@font-face {
    font-family: G-semibold;
    src: url(../font/Gilroy-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: G-bold;
    src: url(../font/Gilroy-Bold.ttf) format("opentype");
}

@font-face {
    font-family: G-extrabold;
    src: url(../font/Gilroy-ExtraBold.ttf) format("opentype");
}


