#footer {
    padding: 10rem 0 9rem 0;
    background-color: #F7F5FF;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);

    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .logo_with_short_description {
            width: 40rem;

            a {
                max-width: 11.5rem;
                display: block;
                margin-bottom: 4.5rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            p {
                max-width: 32rem;
                color: rgba(34, 24, 107, 0.4);
                font-size: 1.8rem;
                font-family: G-medium;
                line-height: 2;

            }
        }

        .common {
            padding-top: 2.5rem;
            width: calc((100% - 40rem) / 4);

            h2 {
                color: #291E82;
                font-family: G-bold;
                font-size: 2.2rem;
                margin-bottom: 4.4rem;
            }

            p {
                margin-bottom: 2.6rem;

                a {
                    text-decoration: none;
                    display: block;
                    font-size: 1.8rem;
                    color: rgba(42, 30, 130, 0.45);
                    font-family: G-medium;
                    transition: .2s;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                }

                &:hover {
                    a {
                        color: rgba(42, 30, 130, 0.85);
                    }
                }
            }
        }

        .social_link {
            width: 20rem;
            height: 3.8rem;
            margin-top: -10rem;
            display: flex;
            justify-content: space-between;

            .single {
                width: 3.8rem;
                height: 100%;
                background-color: #186396;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                position: relative;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
                z-index: 11;


                &::after {
                    position: absolute;
                    content: '';
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: .1rem solid #186396;
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;
                }

                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        fill: #ffffff;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                    }

                }

                &:hover {
                    background-color: #18649600;

                    &::after {
                        transform: scale(1.5);
                        -webkit-transform: scale(1.5);
                        -moz-transform: scale(1.5);
                        -ms-transform: scale(1.5);
                        -o-transform: scale(1.5);
                    }

                    a {
                        svg {
                            fill: #186496;
                        }
                    }
                }
            }

        }

    }
}