// lg header



#lg_header {
    width: 100%;
    height: 103.9rem;
    background-image: url("./../../assets/image/lg_header_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;


    .top {
        width: 100%;
        height: 12.5rem;
        border-bottom: .1rem solid rgba(255, 255, 255, 0.1);

        .inner {
            width: 100%;
            height: 13rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                margin-left: 6.5rem;
                display: flex;
                height: 2.7rem;
                align-items: center;
                text-decoration: none;
                color: #ffffff;
                font-size: 2.2rem;
                font-family: G-semibold;


                img {
                    width: 2rem;
                    height: auto;
                    margin-right: 2rem;
                }
            }
        }
    }

    .top_menu {
        margin-top: 5.5rem;

        .inner {
            width: 100%;
            height: 6.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 10rem;
                height: 100%;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .menu {
                width: 57rem;
                height: 100%;

                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;

                    li {
                        display: block;
                        height: 5%;
                        display: flex;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.7);
                            font-size: 2.2rem;
                            font-family: G-semibold;
                            transition: .2s;
                            -webkit-transition: .2s;
                            -moz-transition: .2s;
                            -ms-transition: .2s;
                            -o-transition: .2s;
                        }

                        &:hover {
                            a {
                                color: #ffffff;
                            }
                        }
                    }

                }
            }

            .sign_in_btn {
                height: 100%;
                width: 16rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: .3rem solid #3CF6EC;
                background-color: #3cf6ed00;
                border-radius: 3.5rem;
                -webkit-border-radius: 3.5rem;
                -moz-border-radius: 3.5rem;
                -ms-border-radius: 3.5rem;
                -o-border-radius: 3.5rem;
                transition: .2s;
                -webkit-transition: .2s;
                -moz-transition: .2s;
                -ms-transition: .2s;
                -o-transition: .2s;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #3CF6EC;
                    font-size: 2.2rem;
                    font-family: G-semibold;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    transition: .2s;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                }

                &:hover {
                    a {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .bottom {
        width: 100%;

        .inner {
            display: flex;

            .left {
                margin-top: 13.2rem;
                max-width: 62.5rem;

                h1 {
                    color: #ffffff;
                    font-size: 6.3rem;
                    font-family: G-bold;
                    line-height: 1.4;
                    margin-bottom: 4.8rem;
                }

                a {
                    display: inline-block;
                    padding: 2.5rem 4.7rem;
                    border-radius: .7rem;
                    font-size: 2.5rem;
                    font-family: G-semibold;
                    text-decoration: none;
                    color: #ffffff;
                    border-radius: .7rem;
                    -webkit-border-radius: .7rem;
                    -moz-border-radius: .7rem;
                    -ms-border-radius: .7rem;
                    -o-border-radius: .7rem;
                    background-image: -moz-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
                    background-image: -webkit-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
                    background-image: -o-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
                    background-image: linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
                }
            }

            .right {
                margin-top: 1rem;
                width: calc(100% - 62.5rem);
                height: 63.3rem;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
}





@media only screen and (max-width: 768px) {
    #lg_header {
        display: none;
    }
}



// lg header end










// sm header
@media only screen and (min-width: 769px) {
    #sm_header {
        display: none;
    }
}



#sm_header {

    .top {
        width: 100%;
        background-color: rgb(255, 255, 255);

        .wrapper {
            width: 100%;
            height: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                width: 9.3rem;
                height: 3.5rem;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    img {
                        width: 100%;
                        height: 100%;

                    }
                }
            }

            .right {
                height: 3.8rem;
                width: 3.8rem;
                background-color: #21186B;
                border-radius: .5rem;
                -webkit-border-radius: .5rem;
                -moz-border-radius: .5rem;
                -ms-border-radius: .5rem;
                -o-border-radius: .5rem;
                padding: .7rem;
                position: relative;

                .inner {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .line {
                        width: 100%;
                        height: 0.3rem;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        border-radius: 9rem;
                        -webkit-border-radius: 9rem;
                        -moz-border-radius: 9rem;
                        -ms-border-radius: 9rem;
                        -o-border-radius: 9rem;
                        transition: .2s;
                        -webkit-transition: .2s;
                        -moz-transition: .2s;
                        -ms-transition: .2s;
                        -o-transition: .2s;
                    }

                    .line.top {
                        top: 0;
                        left: 0%;
                        transform: translate(0, -50%);
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        height: 0.3rem;
                    }

                    .line.middle {
                        top: 47%;
                        left: 0%;
                        transform: translate(0, -50%);
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        height: 0.3rem;
                    }

                    .line.bottom {
                        top: 92%;
                        left: 0%;
                        transform: translate(0, -50%);
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        height: 0.3rem;
                    }
                }
            }


            .right.active {
                .inner {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .line {
                        width: 100%;
                        height: 0.3rem;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        -moz-border-radius: 1rem;
                        -ms-border-radius: 1rem;
                        -o-border-radius: 1rem;
                        transition: .2s;
                        -webkit-transition: .2s;
                        -moz-transition: .2s;
                        -ms-transition: .2s;
                        -o-transition: .2s;
                    }



                    .line.top {
                        top: 47%;
                        left: 0;
                        transform: translate(0, -50%) rotate(45deg);
                        -webkit-transform: translate(0, -50%) rotate(45deg);
                        -moz-transform: translate(0, -50%) rotate(45deg);
                        -ms-transform: translate(0, -50%) rotate(45deg);
                        -o-transform: translate(0, -50%) rotate(45deg);
                        height: 0.2rem;
                        border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        -moz-border-radius: 1rem;
                        -ms-border-radius: 1rem;
                        -o-border-radius: 1rem;
                    }

                    .line.middle {
                        top: 47%;
                        left: 0;
                        transform: translate(0, -50%) scale(0);
                        -webkit-transform: translate(0, -50%) scale(0);
                        -moz-transform: translate(0, -50%) scale(0);
                        -ms-transform: translate(0, -50%) scale(0);
                        -o-transform: translate(0, -50%) scale(0);
                        height: 0.3rem;
                        opacity: 0;
                        border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        -moz-border-radius: 1rem;
                        -ms-border-radius: 1rem;
                        -o-border-radius: 1rem;
                    }

                    .line.bottom {
                        top: 47%;
                        left: 0;
                        transform: translate(0, -50%) rotate(-45deg);
                        -webkit-transform: translate(0, -50%) rotate(-45deg);
                        -moz-transform: translate(0, -50%) rotate(-45deg);
                        -ms-transform: translate(0, -50%) rotate(-45deg);
                        -o-transform: translate(0, -50%) rotate(-45deg);
                        height: 0.2rem;
                        background-image: none;
                        border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        -moz-border-radius: 1rem;
                        -ms-border-radius: 1rem;
                        -o-border-radius: 1rem;
                    }
                }
            }
        }
    }

    .hero {
        width: 100%;
        height: 55rem;
        background-image: url(./../image/sm_header_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h1 {
            text-align: left;
            color: #ffffff;
            width: 80%;
            font-size: 3rem;
            font-family: G-bold;
            line-height: 1.6;
        }


        img {
            width: 34rem;
        }

        a {
            display: inline-block;
            font-size: 1.2rem;
            color: #ffffff;
            font-family: G-semibold;
            background-image: -moz-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
            background-image: -webkit-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
            background-image: -o-linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
            background-image: linear-gradient(145deg, rgba(77, 221, 220, 1) 0%, rgba(31, 132, 230, 1) 100%);
            padding: 1rem 1.8rem;
            border-radius: .4rem;
            -webkit-border-radius: .4rem;
            -moz-border-radius: .4rem;
            -ms-border-radius: .4rem;
            -o-border-radius: .4rem;
        }

    }
}


// sm header end
