@font-face {
  font-family: G-regular;
  src: url(../font/Gilroy-Regular.ttf) format("opentype");
}

@font-face {
  font-family: G-medium;
  src: url(../font/Gilroy-Medium.ttf) format("opentype");
}

@font-face {
  font-family: G-semibold;
  src: url(../font/Gilroy-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: G-bold;
  src: url(../font/Gilroy-Bold.ttf) format("opentype");
}

@font-face {
  font-family: G-extrabold;
  src: url(../font/Gilroy-ExtraBold.ttf) format("opentype");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 53.35%;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

@media only screen and (max-width: 769px) {
  .container {
    width: calc(100% - 3.2rem);
    margin: 0 auto;
  }
}

#lg_header {
  width: 100%;
  height: 103.9rem;
  background-size: 100% 100%;
  background-image: url(./../image/lg_header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

#lg_header .top {
  width: 100%;
  height: 12.5rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

#lg_header .top .inner {
  width: 100%;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#lg_header .top .inner a {
  margin-left: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 2.2rem;
  font-family: G-semibold;
}

#lg_header .top .inner a img {
  width: 2rem;
  height: auto;
  margin-right: 2rem;
}

#lg_header .top_menu {
  margin-top: 5.5rem;
}

#lg_header .top_menu .inner {
  width: 100%;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg_header .top_menu .inner .logo {
  width: 10rem;
  height: 100%;
}

#lg_header .top_menu .inner .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#lg_header .top_menu .inner .logo a img {
  width: 100%;
  height: auto;
}

#lg_header .top_menu .inner .menu {
  width: 57rem;
  height: 100%;
}

#lg_header .top_menu .inner .menu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#lg_header .top_menu .inner .menu ul li {
  display: block;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lg_header .top_menu .inner .menu ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.2rem;
  font-family: G-semibold;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#lg_header .top_menu .inner .menu ul li:hover a {
  color: #ffffff;
}

#lg_header .top_menu .inner .sign_in_btn {
  height: 100%;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .3rem solid #3CF6EC;
  background-color: #3cf6ed00;
  border-radius: 3.5rem;
  -webkit-border-radius: 3.5rem;
  -moz-border-radius: 3.5rem;
  -ms-border-radius: 3.5rem;
  -o-border-radius: 3.5rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  cursor: pointer;
}

#lg_header .top_menu .inner .sign_in_btn a {
  text-decoration: none;
  color: #3CF6EC;
  font-size: 2.2rem;
  font-family: G-semibold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#lg_header .top_menu .inner .sign_in_btn:hover a {
  color: #ffffff;
}

#lg_header .bottom {
  width: 100%;
}

#lg_header .bottom .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lg_header .bottom .inner .left {
  margin-top: 13.2rem;
  max-width: 62.5rem;
}

#lg_header .bottom .inner .left h1 {
  color: #ffffff;
  font-size: 6.3rem;
  font-family: G-bold;
  line-height: 1.4;
  margin-bottom: 4.8rem;
}

#lg_header .bottom .inner .left a {
  display: inline-block;
  padding: 2.5rem 4.7rem;
  border-radius: .7rem;
  font-size: 2.5rem;
  font-family: G-semibold;
  text-decoration: none;
  color: #ffffff;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
  background-image: linear-gradient(145deg, #4ddddc 0%, #1f84e6 100%);
}

#lg_header .bottom .inner .right {
  margin-top: 5rem;
  width: calc(100% - 62.5rem);
  height: 63.3rem;
}

#lg_header .bottom .inner .right img {
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #lg_header {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  #sm_header {
    display: none;
  }
}

#sm_header .top {
  width: 100%;
  background-color: white;
}

#sm_header .top .wrapper {
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sm_header .top .wrapper .left {
  width: 9.3rem;
  height: 3.5rem;
}

#sm_header .top .wrapper .left a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#sm_header .top .wrapper .left a img {
  width: 100%;
  height: 100%;
}

#sm_header .top .wrapper .right {
  height: 3.8rem;
  width: 3.8rem;
  background-color: #21186B;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: .7rem;
  position: relative;
}

#sm_header .top .wrapper .right .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#sm_header .top .wrapper .right .inner .line {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  position: absolute;
  border-radius: 9rem;
  -webkit-border-radius: 9rem;
  -moz-border-radius: 9rem;
  -ms-border-radius: 9rem;
  -o-border-radius: 9rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#sm_header .top .wrapper .right .inner .line.top {
  top: 0;
  left: 0%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  height: 0.3rem;
}

#sm_header .top .wrapper .right .inner .line.middle {
  top: 47%;
  left: 0%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  height: 0.3rem;
}

#sm_header .top .wrapper .right .inner .line.bottom {
  top: 92%;
  left: 0%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  height: 0.3rem;
}

#sm_header .top .wrapper .right.active .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#sm_header .top .wrapper .right.active .inner .line {
  width: 100%;
  height: 0.3rem;
  background-color: white;
  position: absolute;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#sm_header .top .wrapper .right.active .inner .line.top {
  top: 47%;
  left: 0;
  transform: translate(0, -50%) rotate(45deg);
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -moz-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  -o-transform: translate(0, -50%) rotate(45deg);
  height: 0.2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#sm_header .top .wrapper .right.active .inner .line.middle {
  top: 47%;
  left: 0;
  transform: translate(0, -50%) scale(0);
  -webkit-transform: translate(0, -50%) scale(0);
  -moz-transform: translate(0, -50%) scale(0);
  -ms-transform: translate(0, -50%) scale(0);
  -o-transform: translate(0, -50%) scale(0);
  height: 0.3rem;
  opacity: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#sm_header .top .wrapper .right.active .inner .line.bottom {
  top: 47%;
  left: 0;
  transform: translate(0, -50%) rotate(-45deg);
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -moz-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  -o-transform: translate(0, -50%) rotate(-45deg);
  height: 0.2rem;
  background-image: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#sm_header .hero {
  width: 100%;
  height: 55rem;
  background-image: url(./../image/sm_header_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sm_header .hero h1 {
  text-align: left;
  color: #ffffff;
  width: 80%;
  font-size: 3rem;
  font-family: G-bold;
  line-height: 1.6;
}

#sm_header .hero img {
  width: 34rem;
}

#sm_header .hero a {
  display: inline-block;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: G-semibold;
  background-image: linear-gradient(145deg, #4ddddc 0%, #1f84e6 100%);
  padding: 1rem 1.8rem;
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
}

#services {
  padding: 17rem 0 0 0;
}

#services .wrapper h2 {
  max-width: 57rem;
  font-size: 5.5rem;
  color: #21186B;
  font-family: G-bold;
  margin-bottom: 3rem;
  text-align: left;
  line-height: 1.5;
  padding: 0;
}

#services .wrapper p {
  max-width: 61rem;
  font-size: 2rem;
  color: rgba(34, 24, 107, 0.4);
  font-family: G-bold;
  margin-bottom: 8rem;
  text-align: left;
  line-height: 2;
  padding: 0;
}

#services .wrapper .service_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#services .wrapper .service_area .single_box {
  width: 29.25%;
  margin-bottom: 10rem;
  text-align: center;
}

#services .wrapper .service_area .single_box img {
  width: 13.6rem;
  height: auto;
}

#services .wrapper .service_area .single_box h3 {
  margin-top: 6rem;
  margin-bottom: 3rem;
  color: #21186B;
  font-size: 3rem;
  font-family: G-bold;
}

#services .wrapper .service_area .single_box P {
  text-align: center;
  margin-bottom: 0;
  color: rgba(34, 24, 107, 0.4);
  font-size: 1.8rem;
  font-family: G-medium;
}

@media only screen and (max-width: 769px) {
  #services {
    padding-top: 8rem;
  }
  #services .wrapper h2 {
    max-width: 100%;
    font-size: 4.5rem;
    color: #21186B;
    font-family: G-bold;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.5;
    padding: 0 10%;
  }
  #services .wrapper h2 br {
    display: none;
  }
  #services .wrapper p {
    max-width: 100%;
    font-size: 2rem;
    color: rgba(34, 24, 107, 0.4);
    font-family: G-bold;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 2;
    padding: 0 10%;
  }
  #services .wrapper .service_area {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #services .wrapper .service_area .single_box {
    width: 45%;
    margin-bottom: 6rem;
    text-align: center;
  }
  #services .wrapper .service_area .single_box img {
    width: 12rem;
    height: auto;
  }
  #services .wrapper .service_area .single_box h3 {
    margin-top: 4rem;
    margin-bottom: 3rem;
    color: #21186B;
    font-size: 2.6rem;
    font-family: G-bold;
  }
  #services .wrapper .service_area .single_box P {
    text-align: center;
    margin-bottom: 0;
    color: rgba(34, 24, 107, 0.4);
    font-size: 1.8rem;
    font-family: G-medium;
  }
}

@media only screen and (max-width: 577px) {
  #services {
    padding-top: 3rem;
  }
  #services .wrapper h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    padding: 0 5%;
  }
  #services .wrapper h2 br {
    display: none;
  }
  #services .wrapper p {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 2;
    padding: 0 5%;
  }
  #services .wrapper .service_area {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #services .wrapper .service_area .single_box {
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;
  }
  #services .wrapper .service_area .single_box img {
    width: 10rem;
    height: auto;
  }
  #services .wrapper .service_area .single_box h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #21186B;
    font-size: 2.2rem;
    font-family: G-bold;
  }
  #services .wrapper .service_area .single_box P {
    text-align: center;
    margin-bottom: 0;
    color: rgba(34, 24, 107, 0.4);
    font-size: 1.6rem;
    font-family: G-medium;
    padding: 0;
  }
}

#domain_search {
  padding: 6rem 0 3rem 0;
  background-image: url(./../image/gradient_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#domain_search .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#domain_search .wrapper .image_area {
  max-width: 57rem;
}

#domain_search .wrapper .image_area img {
  width: 100%;
  height: auto;
}

#domain_search .wrapper .search_wrapper {
  padding-top: 6.5rem;
  width: 57rem;
}

#domain_search .wrapper .search_wrapper h2 {
  color: #ffffff;
  max-width: 51rem;
  font-size: 5rem;
  font-family: G-bold;
  margin-bottom: 3rem;
}

#domain_search .wrapper .search_wrapper .top_level_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 56rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6rem;
}

#domain_search .wrapper .search_wrapper .top_level_area .single {
  width: 12.5rem;
  height: 6.5rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#domain_search .wrapper .search_wrapper .top_level_area .single h4 {
  font-family: G-semibold;
  font-size: 2rem;
}

#domain_search .wrapper .search_wrapper .top_level_area .single p {
  font-family: G-medium;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.4);
}

#domain_search .wrapper .search_wrapper .top_level_area .single.com {
  background-color: rgba(86, 243, 235, 0.15);
}

#domain_search .wrapper .search_wrapper .top_level_area .single.com h4 {
  color: #56F3EB;
}

#domain_search .wrapper .search_wrapper .top_level_area .single.org {
  background-color: rgba(249, 113, 10, 0.11);
}

#domain_search .wrapper .search_wrapper .top_level_area .single.org h4 {
  color: #F9720A;
}

#domain_search .wrapper .search_wrapper .top_level_area .single.net {
  background-color: rgba(251, 210, 99, 0.27);
}

#domain_search .wrapper .search_wrapper .top_level_area .single.net h4 {
  color: #F9BA0A;
}

#domain_search .wrapper .search_wrapper .top_level_area .single.live {
  background-color: rgba(29, 246, 123, 0.23);
}

#domain_search .wrapper .search_wrapper .top_level_area .single.live h4 {
  color: #1DF67A;
}

#domain_search .wrapper .search_wrapper .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57rem;
  height: 8rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#domain_search .wrapper .search_wrapper .search_form .search_icon {
  height: 100%;
  width: 8rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#domain_search .wrapper .search_wrapper .search_form .search_icon img {
  width: 2.3rem;
  height: auto;
}

#domain_search .wrapper .search_wrapper .search_form form {
  width: calc(100% - 8rem);
  padding-right: 5rem;
}

#domain_search .wrapper .search_wrapper .search_form form input[type=text] {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  font-size: 2rem;
  font-family: G-medium;
  color: rgba(36, 31, 112, 0.6);
}

#domain_search .wrapper .search_wrapper .search_form form input[type=text]::-webkit-input-placeholder {
  font-size: 2rem;
  font-family: G-medium;
  color: rgba(36, 31, 112, 0.4);
}

#domain_search .wrapper .search_wrapper .search_form form input[type=text]:-ms-input-placeholder {
  font-size: 2rem;
  font-family: G-medium;
  color: rgba(36, 31, 112, 0.4);
}

#domain_search .wrapper .search_wrapper .search_form form input[type=text]::-ms-input-placeholder {
  font-size: 2rem;
  font-family: G-medium;
  color: rgba(36, 31, 112, 0.4);
}

#domain_search .wrapper .search_wrapper .search_form form input[type=text]::placeholder {
  font-size: 2rem;
  font-family: G-medium;
  color: rgba(36, 31, 112, 0.4);
}

#service_security {
  width: 100%;
  padding: 18.5rem 0;
}

#service_security .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#service_security .wrapper .security_details_area {
  width: 70rem;
}

#service_security .wrapper .security_details_area h2 {
  color: #21186B;
  font-family: G-bold;
  font-size: 5.5rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

#service_security .wrapper .security_details_area p {
  color: rgba(34, 24, 107, 0.4);
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: G-medium;
  padding-right: 20%;
  line-height: 2;
  margin-bottom: 9.5rem;
}

#service_security .wrapper .security_details_area .list_box {
  margin-bottom: 9rem;
}

#service_security .wrapper .security_details_area .list_box .single {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.3rem;
}

#service_security .wrapper .security_details_area .list_box .single img {
  width: 2.8rem;
  height: auto;
  display: inline-block;
  margin-right: 2.5rem;
}

#service_security .wrapper .security_details_area .list_box .single p {
  margin-bottom: 0;
  font-family: G-semibold;
  font-size: 2.5rem;
  color: rgba(34, 24, 107, 0.4);
  padding: 0;
}

#service_security .wrapper .security_details_area .btn_wrapper a {
  display: inline-block;
  padding: 2.5rem 4.7rem;
  border-radius: .7rem;
  font-size: 2.5rem;
  font-family: G-semibold;
  text-decoration: none;
  color: #ffffff;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
  background-image: linear-gradient(145deg, #21186B 0%, #186396 100%);
}

#service_security .wrapper .image {
  width: calc(100% - 70rem);
  margin-right: -7.7rem;
  margin-top: 7.2rem;
}

#service_security .wrapper .image img {
  width: 100%;
  height: auto;
}

#plan {
  padding: 11.5rem 0 17.5rem 0;
  background-image: url(./../image/gradient_bg2.png);
  background-size: 100% 89rem;
  background-repeat: no-repeat;
  background-position: top;
}

#plan .wrapper .top h2 {
  font-family: G-bold;
  font-size: 5.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

#plan .wrapper .top p {
  max-width: 108rem;
  margin: 0 auto;
  font-family: G-medium;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 2;
  margin-bottom: 11rem;
}

#plan .wrapper .btn_box {
  max-width: 113rem;
  height: 8rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: .2rem solid #686868;
  margin-bottom: 14.4rem;
}

#plan .wrapper .btn_box button {
  border: none;
  outline: none;
  background: none;
  padding: 0 2.5rem;
  cursor: pointer;
  margin-bottom: -0.2rem;
  font-family: G-medium;
  font-size: 2.8rem;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

#plan .wrapper .btn_box button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-bottom: 2px solid rgba(86, 243, 235, 0);
}

#plan .wrapper .btn_box button.active {
  color: white;
}

#plan .wrapper .btn_box button.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-bottom: 2px solid #56f3eb;
}

#plan .wrapper .plan_wrapper {
  width: 100%;
  opacity: 1;
}

#plan .wrapper .plan_wrapper .plan_details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#plan .wrapper .plan_wrapper .single_plan {
  background-color: white;
  width: 32%;
  padding: 5rem 2.4rem;
  -webkit-box-shadow: 1.2rem 3.3rem 100px rgba(0, 0, 0, 0.1);
          box-shadow: 1.2rem 3.3rem 100px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 85rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#plan .wrapper .plan_wrapper .single_plan .top {
  width: 100%;
}

#plan .wrapper .plan_wrapper .single_plan .top .title {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .title .left {
  font-family: G-semibold;
  font-size: 3rem;
  color: #21186B;
}

#plan .wrapper .plan_wrapper .single_plan .top .title .right {
  height: 100%;
  background-color: rgba(249, 113, 10, 0.1);
  padding: .8rem 2rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  color: #F9720A;
  font-family: G-semibold;
  font-size: 2rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .price {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#plan .wrapper .plan_wrapper .single_plan .top .price .left {
  color: #21186B;
  font-family: G-medium;
  font-size: 2rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .price .left span.large {
  font-size: 3rem;
  font-family: G-bold;
}

#plan .wrapper .plan_wrapper .single_plan .top .price .right {
  color: rgba(34, 24, 107, 0.7);
  font-family: G-medium;
  font-size: 2rem;
  position: relative;
}

#plan .wrapper .plan_wrapper .single_plan .top .price .right::after {
  position: absolute;
  content: '';
  background-color: rgba(34, 24, 107, 0.7);
  height: 0.1rem;
  width: 100%;
  top: 55%;
  left: 0;
}

#plan .wrapper .plan_wrapper .single_plan .top p.short_desc {
  max-width: 29.5rem;
  color: rgba(42, 30, 130, 0.4);
  margin: 4rem 0;
}

#plan .wrapper .plan_wrapper .single_plan .top .feature_wrapper {
  width: 100%;
}

#plan .wrapper .plan_wrapper .single_plan .top .feature_wrapper .single_feature {
  width: 100%;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.8rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .feature_wrapper .single_feature img {
  margin-right: 2.5rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .feature_wrapper .single_feature p {
  color: rgba(42, 30, 130, 0.6);
  margin: 0;
  font-family: G-medium;
  font-size: 2rem;
}

#plan .wrapper .plan_wrapper .single_plan .top .feature_wrapper .single_feature p b {
  font-family: G-bold;
}

#plan .wrapper .plan_wrapper .single_plan .bottom_btn {
  margin-top: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#plan .wrapper .plan_wrapper .single_plan .bottom_btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 8rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  font-family: G-semibold;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-image: linear-gradient(145deg, #21186B 0%, #1f84e6 100%);
}

#plan .wrapper .plan_wrapper .single_plan.regular .top .title .right {
  background-color: rgba(249, 113, 10, 0.1);
}

#plan .wrapper .plan_wrapper .single_plan.starlight .top .title .right {
  background-color: rgba(132, 115, 241, 0.15);
  color: #8473F1;
}

#plan .wrapper .plan_wrapper .single_plan.premium .top .title .right {
  background-color: rgba(29, 246, 123, 0.18);
  color: #1DF67A;
}

#plan .wrapper .plan_wrapper.fade {
  animation: anm1 .5s linear infinite;
  -webkit-animation: anm1 .5s linear infinite;
}

@-webkit-keyframes anm1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anm1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#map {
  padding-bottom: 13rem;
}

#map .wrapper {
  width: 100%;
}

#map .wrapper img {
  width: 100%;
  height: auto;
}

#footer {
  padding: 10rem 0 9rem 0;
  background-color: #F7F5FF;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#footer .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .wrapper .logo_with_short_description {
  width: 40rem;
}

#footer .wrapper .logo_with_short_description a {
  max-width: 11.5rem;
  display: block;
  margin-bottom: 4.5rem;
}

#footer .wrapper .logo_with_short_description a img {
  width: 100%;
  height: auto;
}

#footer .wrapper .logo_with_short_description p {
  max-width: 32rem;
  color: rgba(34, 24, 107, 0.4);
  font-size: 1.8rem;
  font-family: G-medium;
  line-height: 2;
}

#footer .wrapper .common {
  padding-top: 2.5rem;
  width: calc((100% - 40rem) / 4);
}

#footer .wrapper .common h2 {
  color: #291E82;
  font-family: G-bold;
  font-size: 2.2rem;
  margin-bottom: 4.4rem;
}

#footer .wrapper .common p {
  margin-bottom: 2.6rem;
}

#footer .wrapper .common p a {
  text-decoration: none;
  display: block;
  font-size: 1.8rem;
  color: rgba(42, 30, 130, 0.45);
  font-family: G-medium;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

#footer .wrapper .common p:hover a {
  color: rgba(42, 30, 130, 0.85);
}

#footer .wrapper .social_link {
  width: 20rem;
  height: 3.8rem;
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .wrapper .social_link .single {
  width: 3.8rem;
  height: 100%;
  background-color: #186396;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: relative;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  z-index: 11;
}

#footer .wrapper .social_link .single::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: .1rem solid #186396;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#footer .wrapper .social_link .single a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .wrapper .social_link .single a svg {
  fill: #ffffff;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

#footer .wrapper .social_link .single:hover {
  background-color: #18649600;
}

#footer .wrapper .social_link .single:hover::after {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

#footer .wrapper .social_link .single:hover a svg {
  fill: #186496;
}

#copyright {
  text-align: center;
  background-color: #F7F5FF;
  padding: 3.8rem 0;
  color: rgba(34, 24, 107, 0.5);
  font-size: 2.1rem;
  font-family: G-medium;
}

#copyright a {
  text-decoration: none;
  color: rgba(34, 24, 107, 0.8);
  font-size: 2.1rem;
  font-family: G-semibold;
}
/*# sourceMappingURL=style.css.map */