@import './font';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


}


html {
    overflow-x: hidden;
    font-size: 53.35%;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

@media only screen and (max-width: 769px){
    .container {
        width: calc(100% - 3.2rem);
        margin: 0 auto;
    }
}

@import './header';
@import './services';
@import './_domain_search';
@import './service_security';